<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<div id="loginContainer" class="login-conatiner">

    <div class="oj-flex oj-padding-lg-bottom"> 
        <div class="oj-flex-item">
            <h1>Login</h1>
        </div>
    </div>
    
    <div class="oj-flex"> 
        <div class="oj-flex-item">
            <label for="userName">User Name:</label>
            <input id="userName" type="text" data-bind="ojComponent: { component: 'ojInputText', value: userName, placeholder: 'User Name', required: true }"/>   
        </div>
    </div>
    
    <div class="oj-flex oj-padding-top"> 
        <div class="oj-flex-item">
            <label for="password">Password:</label>
            <input id="password" type="password" data-bind="ojComponent: { component: 'ojInputPassword', value: password, placeholder: 'Password', required: true }"/>
        </div>
    </div>
    
    <div class="oj-flex oj-padding-lg-top oj-"> 
        <div class="oj-flex-item">
            <button id="userLogin" class="oj-lg-12" data-bind="ojComponent: { component: 'ojButton', label: 'Login'}, click: onUserLogin"></button>   
        </div>
    </div>
    
</div>
