<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<div id="uploadContainer">
    
    <div class="oj-flex oj-padding-lg-bottom"> 
        <div class="oj-flex-item">
            <h1>Upload a Document</h1>
        </div>
    </div>
    
    <div class="oj-flex invalid-user-text-container" data-bind="visible: uploadStatusDesc() !== ''"> 
        <div class="oj-flex-item">
            <span data-bind="text: uploadStatusDesc, css: isUploadSuccess() ? 'successMessage' : 'failureMsg'"></span>
        </div>
    </div>
    
    <div class="oj-flex"> 
        <div class="oj-flex-item">
            <label for="customer">Customer:</label>
            <input id="customer" data-bind="ojComponent: { component: 'ojCombobox', options: customers, rawValue: customer, 
                placeholder: 'Select a Customer', rootAttributes: {style:'max-width:18em'}, required: true}"/>
        </div>
    </div>
    
    <div class="oj-flex oj-padding-top"> 
        <div class="oj-flex-item">
            <label for="invoiceNumber">Invoice Number:</label>
            <input id="invoiceNumber" type="text" data-bind="ojComponent: { component: 'ojInputText', value: invoiceNumber, placeholder: 'Invoice Number', required: true }"/>   
        </div>
    </div>
    
    <div class="oj-flex oj-padding-vertical"> 
        <div class="oj-flex-item">
            <label for="invoiceDate">Invoice Date:</label>
            <input id="invoiceDate" type="text" data-bind="ojComponent: { component: 'ojInputDate', value: invoiceDate, placeholder: 'Invoice Date', required: true }"/>   
        </div>
    </div>
    
    <div class="oj-flex oj-padding-top"> 
        <div class="oj-flex-item">
            <input type="file" data-bind="event: {change: onSelectFile}" accept=".doc, .docx, .pdf" />
        </div>
    </div>
    
    <div class="oj-flex oj-padding-lg-top"> 
        <div class="oj-flex-item">
            <button id="upload" data-bind="ojComponent: { component: 'ojButton', label: 'Upload'}, click: onUploadDocument"></button>   
        </div>
    </div>    
        
</div>  