/*
    Document   : override
    Created on : <09-06-2017>
    Author     : <nithinn>
    Description:
        This is where any of your application specific styles should be included
*/

.login-container {
    margin: auto;
    width: 18%;
}

.preloader-container {
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
}

.preloader {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid black;
    border-bottom: 8px solid black;
    width: 60px;
    height: 60px;
    margin-left: calc(50% - 30px);
    -webkit-animation: spin 1.7s linear infinite;
    animation: spin 1.7s linear infinite;
}
    
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.invalid-user-text-container {
    margin-bottom: 10px;
    font-family: 'Roboto-thin', sans-serif;
    color: red;
    font-size: 20px;
}

.successMessage {
    color: green;
}

.failureMessage {
    color: red;
}